<launch>
    <arg name="model" default="$(find fr01_description)/robots/fr01.urdf.xacro"/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(arg model)'" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find third_robot_gazebo)/config/third_robot_diff_drive_controller.yaml" command="load"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <!-- <remap from="/joint_states" to="/fr01/joint_states" /> -->
    </node>

</launch>
